# Assignment 2: Milestone I Natural Language Processing
## Task 2&3
#### Student Name: XXXX XXXX
#### Student ID: 000000

Date: XXXX

Version: 1.0

Environment: Python 3 and Jupyter notebook

Libraries used: please include all the libraries you used in your assignment, e.g.,:
* pandas
* re
* numpy

## Introduction
You should give a brief information of this assessment task here.

<span style="color: red"> Note that this is a sample notebook only. You will need to fill in the proper markdown and code blocks. You might also want to make necessary changes to the structure to meet your own needs. Note also that any generic comments written in this notebook are to be removed and replace with your own words.</span>

## Importing libraries

In [42]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np

## Task 2. Generating Feature Representations for Job Advertisement Descriptions

...... Sections and code blocks on buidling different document feature represetations


<span style="color: red"> You might have complex notebook structure in this section, please feel free to create your own notebook structure. </span>

In [43]:
# Load the vocabulary
with open("vocab.txt", "r") as f:
    vocab = f.read().splitlines()

# Create a dictionary mapping each word in the vocabulary to a unique integer
word_to_index = {word: idx for idx, word in enumerate(vocab)}

# Load the job advertisements dataset
job_ads = pd.read_csv("processed_job_ads.csv")

# Convert the 'Tokenized Description' column from string to list
job_ads["Tokenized Description"] = job_ads["Tokenized Description"].apply(lambda x: eval(x))

# Convert each job advertisement description into a sparse count vector representation
count_vectors = []

for _, row in job_ads.iterrows():
    vector = {}
    for word in row["Tokenized Description"]:
        if word in word_to_index:
            vector[word_to_index[word]] = vector.get(word_to_index[word], 0) + 1
    sorted_vector = sorted(vector.items(), key=lambda x: x[0])
    count_vectors.append((row["Webindex"], sorted_vector))

# Display the first few count vectors for review
count_vectors[:5]

[(68802053, []),
 (70757636, []),
 (71356489, []),
 (69073629, []),
 (70656648, [])]

In [44]:
# Displaying the first few words from the vocabulary and a few tokenized descriptions for review
vocab[:10], job_ads["Tokenized Description"].head().tolist()

(['aap:0',
  'aaron:1',
  'aat:2',
  'abb:3',
  'abenefit:4',
  'aberdeen:5',
  'abi:6',
  'abilities:7',
  'abreast:8',
  'abroad:9'],
 [['market',
   'retail',
   'rapid',
   'growth',
   'due',
   'expansion',
   'add',
   'financial',
   'planning',
   'analyst',
   'central',
   'central',
   'london',
   'fantastic',
   'newly',
   'created',
   'driving',
   'forward',
   'financial',
   'planning',
   'analysis',
   'group',
   'reporting',
   'directly',
   'head',
   'fp',
   'assist',
   'revenue',
   'analysis',
   'product',
   'channel',
   'region',
   'commercial',
   'input',
   'review',
   'cases',
   'presenting',
   'proposals',
   'approval',
   'develop',
   'endtoend',
   'planning',
   'cycle',
   'processes',
   'lead',
   'regional',
   'planning',
   'processes',
   'ensure',
   'completeness',
   'key',
   'channels',
   'products',
   'finance',
   'year',
   'strategic',
   'plan',
   'addition',
   'globally',
   'regions',
   'develop',
   'capital',
   'investment',
   'plan',
   'forward',
   'thinking',
   'confident',
   'qualified',
   'analyst',
   'aca',
   'cima',
   'interpersonal',
   'interest',
   'feel',
   'relevant',
   'call',
   'candidates',
   'straight',
   'big',
   'audit',
   'firms',
   'interested',
   'hays',
   'specialist',
   'limited',
   'acts',
   'employment',
   'agency',
   'permanent',
   'employment',
   'supply',
   'temporary',
   'workers',
   'applying',
   'accept',
   'privacy',
   'policy',
   'disclaimers',
   'found',
   'hays'],
  ['responsible',
   'efficient',
   'running',
   'accounting',
   'function',
   'implementing',
   'procedures',
   'controls',
   'ensure',
   'accuracy',
   'presented',
   'directors',
   'establish',
   'maintain',
   'financial',
   'policies',
   'systems',
   'liaise',
   'colleagues',
   'aspects',
   'finance',
   'quality',
   'directors',
   'officers',
   'duties',
   'staff',
   'responsible',
   'production',
   'accounts',
   'creating',
   'implementing',
   'monitoring',
   'processes',
   'procedures',
   'creation',
   'monthly',
   'forecasts',
   'preparing',
   'detailed',
   'weekly',
   'monthly',
   'quarterly',
   'cash',
   'flow',
   'forecasts',
   'preparing',
   'detailed',
   'annual',
   'quarterly',
   'monthly',
   'profit',
   'forecasts',
   'preparing',
   'detailed',
   'monthly',
   'financial',
   'statements',
   'profit',
   'loss',
   'accounts',
   'balance',
   'sheet',
   'variance',
   'analysis',
   'days',
   'month',
   'end',
   'managing',
   'income',
   'expenditure',
   'payroll',
   'stocks',
   'offering',
   'professional',
   'judgement',
   'financial',
   'matters',
   'advising',
   'ways',
   'improving',
   'performance',
   'carrying',
   'research',
   'analysing',
   'liaising',
   'managers',
   'put',
   'finance',
   'view',
   'context',
   'safeguarding',
   'assets',
   'duties',
   'financial',
   'matter',
   'occur',
   'time',
   'time',
   'preparation',
   'yearend',
   'file',
   'independent',
   'accountants',
   'produce',
   'financial',
   'statements',
   'hm',
   'revenue',
   'companies',
   'house',
   'purposes',
   'cima',
   'acca',
   'qualified',
   'ideally',
   'background',
   'retail',
   'industry'],
  ['purpose',
   'advice',
   'telephone',
   'leads',
   'supplied',
   'telesales',
   'department',
   'addition',
   'face',
   'face',
   'review',
   'existing',
   'bank',
   'person',
   'specification',
   'previous',
   'financial',
   'advising',
   'pensions',
   'proven',
   'fully',
   'diploma',
   'qualified',
   'capacity',
   'chartered',
   'status',
   'computer',
   'literate',
   'round',
   'technical',
   'compliance',
   'requirements',
   'key',
   'responsibilities',
   'holistic',
   'financial',
   'planning',
   'advice',
   'existing',
   'responsible',
   'conducting',
   'initial',
   'meetings',
   'prospective',
   'face',
   'face',
   'telephone',
   'gather',
   'financial',
   'circumstances',
   'goals',
   'objectives',
   'enable',
   'advice',
   'maintain',
   'relationships',
   'customer',
   'focused',
   'proactive',
   'enthusiastic',
   'approach',
   'weekly',
   'reporting',
   'line',
   'weekly',
   'reporting',
   'projects',
   'outcomes',
   'volumes',
   'quarterly',
   'reporting',
   'exec',
   'committee',
   'adhere',
   'practice',
   'compliant',
   'environment',
   'efficient',
   'back',
   'office',
   'paraplanning',
   'package',
   'basic',
   'bonuses',
   'paid',
   'written',
   'ote',
   'annum',
   'week',
   'paid',
   'holiday',
   'annum',
   'group',
   'personal',
   'pension',
   'plan'],
  ['expanding',
   'recruit',
   'aca',
   'qualified',
   'accountant',
   'head',
   'small',
   'finance',
   'reporting',
   'finance',
   'director',
   'assume',
   'day',
   'day',
   'responsibility',
   'managing',
   'developing',
   'ensuring',
   'timely',
   'completion',
   'statutory',
   'reporting',
   'monthly',
   'accounting',
   'budgeting',
   'forecasting',
   'annual',
   'statutory',
   'accounts',
   'managing',
   'small',
   'finance',
   'function',
   'aca',
   'qualified',
   'previous',
   'technical',
   'interpersonal',
   'suit',
   'make',
   'move',
   'practice'],
  ['offers',
   'interesting',
   'part',
   'qualified',
   'finalist',
   'qualified',
   'acca',
   'cima',
   'accountant',
   'charity',
   'surrey',
   'preparing',
   'accurate',
   'timely',
   'monthly',
   'accounts',
   'preparing',
   'posting',
   'monthly',
   'accruals',
   'prepayments',
   'income',
   'journal',
   'assisting',
   'preparation',
   'annual',
   'budget',
   'process',
   'yearend',
   'audits',
   'managing',
   'fixed',
   'asset',
   'register',
   'posting',
   'ad',
   'hoc',
   'project',
   'analysis',
   'person',
   'essentially',
   'pq',
   'finalist',
   'qualified',
   'aca',
   'acca',
   'cima',
   'similar',
   'excel',
   'offering',
   'varied',
   'interesting',
   'basic',
   'accountant',
   'vacancies',
   'handling',
   'lloyd',
   'finance',
   'accountancy',
   'recruiter',
   'partqualified',
   'accountants',
   'financial',
   'accountants',
   'financial',
   'controllers',
   'finance',
   'directors',
   'surrey',
   'sussex',
   'london',
   'kent',
   'due',
   'amount',
   'interest',
   'receive',
   'roles',
   'respond',
   'application',
   'individually',
   'hear',
   'back',
   'consultants',
   'shortlisted',
   'continue',
   'check',
   'website',
   'roles',
   'interest']])

In [45]:
# Correcting the vocabulary by stripping the indices
vocab_cleaned = [word.split(":")[0] for word in vocab]

# Update the dictionary mapping each word in the cleaned vocabulary to a unique integer
word_to_index_cleaned = {word: idx for idx, word in enumerate(vocab_cleaned)}

# Convert each job advertisement description into a sparse count vector representation based on the cleaned vocabulary
count_vectors_cleaned = []

for _, row in job_ads.iterrows():
    vector = {}
    for word in row["Tokenized Description"]:
        if word in word_to_index_cleaned:
            vector[word_to_index_cleaned[word]] = vector.get(word_to_index_cleaned[word], 0) + 1
    sorted_vector = sorted(vector.items(), key=lambda x: x[0])
    count_vectors_cleaned.append((row["Webindex"], sorted_vector))

# Display the first few count vectors for review after correction
count_vectors_cleaned[:5]

[(68802053,
  [(13, 1),
   (17, 1),
   (64, 1),
   (73, 1),
   (77, 1),
   (154, 1),
   (226, 2),
   (227, 2),
   (263, 1),
   (278, 1),
   (343, 1),
   (378, 1),
   (495, 1),
   (644, 1),
   (659, 1),
   (669, 1),
   (705, 1),
   (732, 2),
   (759, 1),
   (760, 1),
   (803, 1),
   (891, 1),
   (942, 1),
   (985, 1),
   (1136, 1),
   (1178, 1),
   (1316, 2),
   (1354, 1),
   (1367, 1),
   (1449, 1),
   (1457, 1),
   (1565, 2),
   (1585, 1),
   (1616, 1),
   (1737, 1),
   (1801, 1),
   (1823, 1),
   (1840, 1),
   (1842, 2),
   (1857, 1),
   (1922, 2),
   (1928, 1),
   (1932, 1),
   (2042, 1),
   (2078, 1),
   (2084, 1),
   (2137, 2),
   (2145, 1),
   (2401, 1),
   (2458, 1),
   (2459, 1),
   (2474, 1),
   (2501, 1),
   (2589, 1),
   (2641, 1),
   (2699, 1),
   (2751, 1),
   (2835, 1),
   (3102, 1),
   (3431, 1),
   (3487, 2),
   (3491, 4),
   (3522, 1),
   (3609, 1),
   (3646, 1),
   (3665, 2),
   (3673, 1),
   (3676, 1),
   (3722, 1),
   (3788, 1),
   (3824, 1),
   (3912, 1),
   (3913, 1),
   (3914, 1),
   (3947, 1),
   (3977, 1),
   (4045, 1),
   (4059, 1),
   (4061, 1),
   (4414, 1),
   (4515, 1),
   (4517, 1),
   (4607, 1),
   (4705, 1),
   (4740, 1),
   (5125, 1),
   (5155, 1)]),
 (70757636,
  [(16, 1),
   (34, 1),
   (35, 1),
   (36, 2),
   (40, 1),
   (135, 1),
   (225, 1),
   (226, 1),
   (240, 1),
   (322, 1),
   (338, 1),
   (424, 1),
   (433, 1),
   (700, 1),
   (707, 1),
   (803, 1),
   (871, 1),
   (916, 1),
   (1034, 1),
   (1063, 1),
   (1137, 1),
   (1138, 1),
   (1198, 1),
   (1306, 3),
   (1357, 2),
   (1465, 2),
   (1520, 1),
   (1582, 1),
   (1616, 1),
   (1660, 1),
   (1745, 1),
   (1833, 1),
   (1840, 2),
   (1842, 5),
   (1883, 1),
   (1906, 3),
   (1970, 1),
   (2201, 1),
   (2243, 1),
   (2292, 1),
   (2319, 2),
   (2331, 1),
   (2343, 1),
   (2360, 1),
   (2373, 1),
   (2569, 1),
   (2679, 1),
   (2680, 1),
   (2758, 1),
   (2796, 1),
   (2812, 1),
   (2814, 1),
   (2860, 1),
   (2861, 1),
   (3014, 1),
   (3016, 1),
   (3017, 4),
   (3180, 1),
   (3190, 1),
   (3195, 1),
   (3394, 1),
   (3417, 1),
   (3521, 1),
   (3590, 1),
   (3593, 3),
   (3608, 1),
   (3660, 2),
   (3665, 1),
   (3669, 1),
   (3674, 1),
   (3680, 1),
   (3688, 2),
   (3769, 1),
   (3773, 1),
   (3788, 1),
   (3793, 1),
   (3798, 2),
   (3995, 1),
   (4032, 2),
   (4045, 1),
   (4059, 1),
   (4132, 1),
   (4139, 1),
   (4289, 1),
   (4453, 1),
   (4478, 2),
   (4506, 1),
   (4649, 1),
   (4757, 2),
   (4950, 1),
   (4991, 1),
   (5052, 1),
   (5065, 1),
   (5156, 1)]),
 (71356489,
  [(77, 1),
   (89, 1),
   (130, 3),
   (135, 1),
   (241, 2),
   (274, 1),
   (421, 1),
   (436, 1),
   (448, 1),
   (532, 1),
   (666, 1),
   (769, 1),
   (809, 1),
   (901, 1),
   (947, 1),
   (948, 1),
   (962, 1),
   (979, 1),
   (1169, 1),
   (1271, 1),
   (1348, 1),
   (1520, 1),
   (1569, 1),
   (1627, 1),
   (1635, 1),
   (1716, 1),
   (1732, 2),
   (1779, 4),
   (1842, 3),
   (1892, 1),
   (1968, 1),
   (2004, 1),
   (2048, 1),
   (2078, 1),
   (2214, 1),
   (2216, 1),
   (2388, 1),
   (2589, 1),
   (2645, 1),
   (2703, 1),
   (2721, 1),
   (2796, 1),
   (2901, 1),
   (3165, 1),
   (3193, 1),
   (3288, 1),
   (3292, 1),
   (3329, 1),
   (3337, 2),
   (3349, 1),
   (3409, 1),
   (3411, 1),
   (3435, 1),
   (3437, 1),
   (3487, 1),
   (3491, 1),
   (3568, 1),
   (3619, 1),
   (3650, 1),
   (3706, 1),
   (3732, 1),
   (3743, 1),
   (3768, 1),
   (3788, 1),
   (3798, 1),
   (3940, 1),
   (3977, 3),
   (3992, 1),
   (4030, 1),
   (4032, 1),
   (4061, 1),
   (4116, 1),
   (4425, 1),
   (4485, 1),
   (4603, 1),
   (4681, 1),
   (4697, 2),
   (4700, 1),
   (5014, 1),
   (5061, 1),
   (5065, 2),
   (5148, 1)]),
 (69073629,
  [(13, 2),
   (33, 1),
   (35, 1),
   (36, 1),
   (240, 1),
   (353, 1),
   (600, 1),
   (944, 1),
   (1197, 2),
   (1320, 1),
   (1355, 1),
   (1618, 1),
   (1736, 1),
   (1840, 3),
   (1905, 1),
   (1970, 1),
   (2145, 1),
   (2474, 1),
   (2803, 1),
   (2814, 2),
   (3017, 1),
   (3041, 1),
   (3568, 1),
   (3619, 1),
   (3788, 2),
   (3884, 1),
   (3977, 2),
   (4031, 1),
   (4358, 2),
   (4486, 2),
   (4580, 1),
   (4681, 1),
   (4760, 1)]),
 (70656648,
  [(13, 1),
   (16, 2),
   (32, 1),
   (33, 2),
   (34, 2),
   (36, 1),
   (39, 1),
   (41, 1),
   (69, 1),
   (214, 1),
   (226, 1),
   (240, 1),
   (259, 1),
   (337, 1),
   (348, 1),
   (382, 1),
   (421, 1),
   (448, 1),
   (597, 1),
   (768, 1),
   (775, 1),
   (803, 2),
   (1021, 1),
   (1039, 1),
   (1061, 1),
   (1357, 1),
   (1457, 1),
   (1657, 1),
   (1705, 1),
   (1839, 2),
   (1840, 2),
   (1842, 2),
   (1867, 1),
   (2116, 1),
   (2155, 1),
   (2208, 1),
   (2343, 1),
   (2368, 1),
   (2458, 2),
   (2460, 2),
   (2564, 1),
   (2585, 1),
   (2731, 1),
   (2751, 1),
   (2814, 1),
   (3017, 2),
   (3190, 1),
   (3192, 1),
   (3354, 1),
   (3367, 1),
   (3435, 1),
   (3549, 2),
   (3564, 1),
   (3590, 1),
   (3593, 2),
   (3594, 1),
   (3663, 1),
   (3704, 1),
   (3788, 3),
   (3858, 1),
   (3885, 1),
   (3916, 1),
   (4024, 1),
   (4104, 2),
   (4306, 1),
   (4327, 1),
   (4618, 2),
   (4628, 1),
   (4760, 1),
   (4931, 1),
   (4953, 1),
   (5058, 1),
   (5156, 1)])]

### Saving outputs
Save the count vector representation as per spectification.
- count_vectors.txt

In [46]:
# Saving the count vectors to count_vectors.txt
with open("count_vectors.txt", "w") as f:
    for webindex, vector in count_vectors_cleaned:
        vector_str = ",".join([f"{idx}:{freq}" for idx, freq in vector])
        f.write(f"#{webindex},{vector_str}\n")

## Task 3. Job Advertisement Classification

...... Sections and code blocks on buidling classification models based on different document feature represetations. 
Detailed comparsions and evaluations on different models to answer each question as per specification. 

<span style="color: red"> You might have complex notebook structure in this section, please feel free to create your own notebook structure. </span>

In [47]:
# Load the dataset
df_job_ads = pd.read_csv('processed_job_ads.csv')
df_job_ads.head()

,Title,Webindex,Company,Description,Category,Tokenized Description
0,FP&A Blue Chip,68802053,Hays Senior Finance,A market leading retail business is going thro...,Accounting_Finance,"['market', 'retail', 'rapid', 'growth', 'due',..."
1,Part time Management Accountant,70757636,FS2 UK Ltd,You will be responsible for the efficient runn...,Accounting_Finance,"['responsible', 'efficient', 'running', 'accou..."
2,IFA EMPLOYED,71356489,Clark James Ltd,Role The purpose of the role is to provide adv...,Accounting_Finance,"['purpose', 'advice', 'telephone', 'leads', 's..."
3,Finance Manager,69073629,Accountancy Action Ltd,"Excellent opportunity to join our client, an e...",Accounting_Finance,"['expanding', 'recruit', 'aca', 'qualified', '..."
4,Management Accountant,70656648,Alexander Lloyd,Our client offers a interesting opportunity fo...,Accounting_Finance,"['offers', 'interesting', 'part', 'qualified',..."

In [48]:
# Load vocabulary
with open('vocab.txt', 'r') as f:
    vocab = f.read().splitlines()

# Load a few lines from the count vectors file to inspect its structure
sample_count_vectors = pd.read_csv('count_vectors.txt', sep=" ", header=None, nrows=5)
sample_count_vectors

                                                   0
0  #68802053,13:1,17:1,64:1,73:1,77:1,154:1,226:2...
1  #70757636,16:1,34:1,35:1,36:2,40:1,135:1,225:1...
2  #71356489,77:1,89:1,130:3,135:1,241:2,274:1,42...
3  #69073629,13:2,33:1,35:1,36:1,240:1,353:1,600:...
4  #70656648,13:1,16:2,32:1,33:2,34:2,36:1,39:1,4...

Description as Data for Learning

In [49]:
# Extract Webindex and count vectors from the sparse representation
web_indices = []
dense_count_vectors = np.zeros((sample_count_vectors.shape[0], len(vocab)))

for idx, row in enumerate(sample_count_vectors[0]):
    items = row.split(',')
    web_indices.append(items[0][1:])  # Extract Webindex (excluding the '#')
    
    for item in items[1:]:
        word_idx, count = item.split(':')
        dense_count_vectors[idx, int(word_idx)] = int(count)

# Convert to DataFrame
df_dense_count_vectors = pd.DataFrame(dense_count_vectors, columns=vocab)
df_dense_count_vectors['Webindex'] = web_indices

df_dense_count_vectors.head()

,aap:0,aaron:1,aat:2,abb:3,abenefit:4,aberdeen:5,abi:6,abilities:7,abreast:8,abroad:9,...,yeovil:5159,yn:5160,york:5161,yorkshire:5162,youmust:5163,young:5164,younger:5165,yrs:5166,zest:5167,Webindex
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68802053
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70757636
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,71356489
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,69073629
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70656648

In [50]:
# Load the entire count vectors dataset
full_count_vectors = pd.read_csv('count_vectors.txt', sep=" ", header=None)

# Extract Webindex and count vectors from the sparse representation
web_indices_full = []
dense_count_vectors_full = np.zeros((full_count_vectors.shape[0], len(vocab)))

for idx, row in enumerate(full_count_vectors[0]):
    items = row.split(',')
    web_indices_full.append(items[0][1:])  # Extract Webindex (excluding the '#')
    
    for item in items[1:]:
        word_idx, count = item.split(':')
        dense_count_vectors_full[idx, int(word_idx)] = int(count)

# Convert to DataFrame
df_dense_count_vectors_full = pd.DataFrame(dense_count_vectors_full, columns=vocab)
df_dense_count_vectors_full['Webindex'] = web_indices_full

df_dense_count_vectors_full.head()

,aap:0,aaron:1,aat:2,abb:3,abenefit:4,aberdeen:5,abi:6,abilities:7,abreast:8,abroad:9,...,yeovil:5159,yn:5160,york:5161,yorkshire:5162,youmust:5163,young:5164,younger:5165,yrs:5166,zest:5167,Webindex
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68802053
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70757636
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,71356489
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,69073629
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70656648

In [51]:
# Convert Webindex to int for both dataframes
df_dense_count_vectors_full['Webindex'] = df_dense_count_vectors_full['Webindex'].astype(int)
df_job_ads['Webindex'] = df_job_ads['Webindex'].astype(int)

# Merge the datasets based on Webindex
merged_data = pd.merge(df_dense_count_vectors_full, df_job_ads[['Webindex', 'Category']], on='Webindex', how='inner')

# Splitting the dataset into features and target
X = merged_data.drop(columns=['Webindex', 'Category'])
y = merged_data['Category']

X.shape, y.shape

((776, 5168), (776,))

In [52]:
# Initialize the Logistic Regression model
lr_model = LogisticRegression(max_iter=1000, random_state=42)

# Perform 5-fold cross-validation
cv_scores = cross_val_score(lr_model, X, y, cv=5, scoring='accuracy')

# Calculate the average accuracy from the 5-fold cross-validation
avg_accuracy = np.mean(cv_scores)
avg_accuracy

0.8852936311000826

Title as Data for Learning

In [53]:
# Initialize CountVectorizer using the provided vocabulary
vectorizer = CountVectorizer(vocabulary=vocab, lowercase=True, token_pattern=r'\b\w+\b')

# Generate count vectors for job titles
title_vectors = vectorizer.transform(df_job_ads['Title']).toarray()

# Convert to DataFrame
df_title_vectors = pd.DataFrame(title_vectors, columns=vocab)

df_title_vectors.head()

,aap:0,aaron:1,aat:2,abb:3,abenefit:4,aberdeen:5,abi:6,abilities:7,abreast:8,abroad:9,...,years:5158,yeovil:5159,yn:5160,york:5161,yorkshire:5162,youmust:5163,young:5164,younger:5165,yrs:5166,zest:5167
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
# Perform 5-fold cross-validation using title vectors as features
title_cv_scores = cross_val_score(lr_model, df_title_vectors, y, cv=5, scoring='accuracy')

# Calculate the average accuracy from the 5-fold cross-validation for titles
avg_title_accuracy = np.mean(title_cv_scores)
avg_title_accuracy

0.2976840363937138

Combined Representations

In [55]:
# Concatenate the count vectors of titles and descriptions
combined_vectors = pd.concat([df_title_vectors, X.reset_index(drop=True)], axis=1)

combined_vectors.head()

,aap:0,aaron:1,aat:2,abb:3,abenefit:4,aberdeen:5,abi:6,abilities:7,abreast:8,abroad:9,...,years:5158,yeovil:5159,yn:5160,york:5161,yorkshire:5162,youmust:5163,young:5164,younger:5165,yrs:5166,zest:5167
0,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [56]:
# Perform 5-fold cross-validation using combined vectors as features
combined_cv_scores = cross_val_score(lr_model, combined_vectors, y, cv=5, scoring='accuracy')

# Calculate the average accuracy from the 5-fold cross-validation for combined vectors
avg_combined_accuracy = np.mean(combined_cv_scores)
avg_combined_accuracy

0.8852936311000826

## Summary
Give a short summary and anything you would like to talk about the assessment tasks here.

Q1: Language model comparisons
- I utilized count vectors generated from job advertisement descriptions as the feature representations.
- Using a logistic regression model and a 5-fold cross-validation approach, the model achieved an average accuracy of approximately 88.53% when classifying job categories based on descriptions.

Q2: Does more information provide higher accuracy?

Title only:         29.77%

Description only:   88.53%

Combined:           88.53%

## Couple of notes for all code blocks in this notebook
- please provide proper comment on your code
- Please re-start and run all cells to make sure codes are runable and include your output in the submission.   
<span style="color: red"> This markdown block can be removed once the task is completed. </span>